.firstAnimation{
    width: 100vw;
    height: 100vh;
    z-index: 0;
    background: #000;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./NEUMORPHIC_CIRCLES_BACKGROUND.jpg);
    background-size: cover; /* Ajuster la taille de l'image pour remplir le conteneur */
    background-position: center;
}
.contenu{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.image {
    height: 75%;
    width: 60%;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.image:hover {
    -webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}
.text{
    font-family: 'Raleway',
    sans-serif;
    color:#fff;
    margin-right: 3em;
    line-height: 1.8;    
}
.intro{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5%;

}
.ph{
    position: relative;
    color: hsl(0, 0%, 68%);
    font-weight: bold!important;
    font-family: "Anonymous Pro", monospace!important;
    overflow: hidden;
    border-right: 2px solid hsl(0, 0%, 80%);
    white-space: nowrap;
    animation: typewriter 8s steps(44, end) 1s 1 normal both, blinkTextCursor 500ms infinite;
}
@keyframes typewriter {
    from {
      width: 0;
    }
    to {
        width: 100%;
    }
  }
  @keyframes blinkTextCursor {
    from {
      border-right-color: hsl(0, 0%, 80%);
    }
    to {
      border-right-color: transparent;
    }
}
@keyframes grayscale-animation {    
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

}