.App-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: #030405;
    text-decoration: none;
    padding-right: 2rem;
}

.App-link:hover {
    color: #6D72C3; /* Added semicolon */
    text-decoration: none;
}

.nav{
    background: #E5D4ED;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}