/* Styles généraux */
.firstAnimation {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 0;
    background: #000;
    background-image: url(./NEUMORPHIC_CIRCLES_BACKGROUND.jpg);
    background-size: cover; /* Ajuster la taille de l'image pour remplir le conteneur */
    background-position: center;
}

.contenu {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.image {
    height: 75%;
    width: 60%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.text {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    margin-right: 3em;
    line-height: 1.8;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 60%);
    padding-left: 5%;
}
.continue-btn{
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    position: fixed;
    bottom: 100px;
    left: 100px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 30px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    border-radius: 30px;
}
.continue-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    border-radius: 30px;
}
.continue-btn span {
    display: inline-block;
    transform: translateY(20px);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.continue-btn:hover::before {
    transform: translateX(0); /* Déplace l'élément pour qu'il couvre le bouton */
}
.continue-btn:hover span {
    transform: translateY(0);
    opacity: 1;
}
/* Media queries pour iPhones */
@media (max-width: 767px) {
    .firstAnimation {
        flex-direction: column;
        justify-content: flex-start;
    }

    .contenu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .image {
        width: 90%;
        height: auto;
        margin-bottom: 20px;
    }

    .text {
        margin-right: 0;
        text-align: center;
        padding: 0 10px;
    }

    .intro {
        width: 90%;
        padding-left: 0;
        align-items: center;
    }
}

/* Media queries pour tablettes */
@media (min-width: 768px) and (max-width: 1024px) {
    .firstAnimation {
        flex-direction: column;
        justify-content: flex-start;
    }

    .contenu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .image {
        width: 80%;
        height: auto;
        margin-bottom: 20px;
    }

    .text {
        margin-right: 0;
        text-align: center;
        padding: 0 20px;
    }

    .intro {
        width: 80%;
        padding-left: 0;
        align-items: center;
    }
}
